* {
    margin: auto;
    padding: 0;
}

.inner {
    position: relative;
    display: flex;
    width: 1920px;
    height: 680px;
    background-color: #EFEFEF;
    border-top: 2px solid #999;
}

.group {
    position: absolute;
    top: 50px;
    left: 25%;
    display: flex;
    width: 800px;
    height: 123px;
    justify-content: space-around;
}

.group-1 {
    font-size: 50px;
    font-family:  Courier, monospace;
    font-weight: bold;
    line-height: 123px;
}

.group-2 {
    width: 123px;
    height: 123px;
    border-radius: 100%;
    background-color: #FFFFFF;
    font: bold 40px  Courier, monospace;
    color: #74C2E4;
    line-height: 123px;
    text-align: center;
}

.group-3 {
    width: 123px;
    height: 123px;
    border-radius: 100%;
    background-color: #A09F9F;
    font: bold 40px Courier, monospace;
    color: #74C2E4;
    line-height: 123px;
    text-align: center;
}

.group-4 {
    width: 123px;
    height: 123px;
    border-radius: 100%;
    background-color: #100101;
    font: bold 40px Courier, monospace;
    color: #74C2E4;
    line-height: 123px;
    text-align: center;
}

.search {
    width: 400px;
    height: 83px;
    position: absolute;
    top: 240px;
    left: 33%;
    line-height: 83px;
    text-align: center;
    font: bold 50px ï¼ŒCourier, monospace;
}

input {
    border: none;
    width: 215px;
    height: 83px;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 10%;
    font-size: 30px;
}

button {
    position: absolute;
    width: 230px;
    height: 120px;
    top: 430px;
    left: 48%;
    font: bold 50px  Courier, monospace;
    background-color: #ffffff;
    border: none;
    border-radius: 10%;
}

button:hover {
    background-color: #ffffffd1;
    cursor: pointer;
}

#main {
    position: absolute;
    top: 50px;
    left: 70%;
    display: black;

}

.index {
    content: ""; 
    width: 15px;
    height: 15px;
    position: absolute;
    top: 100px;
    left: 68%;
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    transform: rotate(45deg);
}

.index:hover {
    cursor: pointer;
}